/* Universal Selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Type Selector*/
body {
    background-color: #d9dcd6;
}

/* Class Selector*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Class Selector*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Class Selector*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Changed class selector name to header nav*/

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Changed class selector name to header nav ul*/

.header nav ul {
    list-style-type: none;
}

/*Changed class selector name to header nav ul li*/

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Type Selector*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Type Selector*/
p {
    font-size: 16px;
}

/* Class Selector*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class Selector*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class Selector*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* Class Selector*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Class Selector*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Class Selector*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector*/
.search-engine-optimization img {
    max-height: 200px;
}

/* Class Selector*/
.online-reputation-management img {
    max-height: 200px;
}

/* Class Selector*/
.social-media-marketing img {
    max-height: 200px;
}

/* Class Selector*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class Selector*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class Selector*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*changed class selector name to footer-1*/
.footer-1 {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*changed class selector name to footer-1 h4*/
.footer-1 h4 {
    font-size: 20px;
}
